body {
  background-color: #DE8659; /* red background */
  color: #FFFFFF; /* white text */
}
.italic {
  font-style: italic;
}
button {
            padding: 15px 30px;
            font-size: 16px;
            background-color: #474389;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            position: absolute; /* Установлено абсолютное позиционирование */
            bottom: 100px; /* Расстояние от нижней границы */
            right: 20px; /* Расстояние от правой границы */
        }
  button:hover {
            background-color: #876c99;
            color: white;